.App {
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(177, 177, 177, 0.849);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
}